@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

#gaming-logo {
  font-family: "gameyfont", sans-serif;
}

.genTag {
  margin: 3px;
}

@font-face {
  font-family: "gameyfont";
  src: url("./assets/font/pdark.ttf");
}
